$pink: #ff0066;
$white: #ffffff;
$purple: #771133;

.nav {
  border: 1px solid $pink;

  .link {
    color: $pink;

    &:hover {
      background-color: $pink;
      color: $white;
    }
  }
}

.footer {
  background-color: $purple;
  color: $white;

  .title {
    font-size: 18px;
  }

  .link {
    color: $white;

    &:hover {
      color: rgba($white, 0.5);
    }
  }
  .copy {
    font-size: 12px;
  }
}
